body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
}

.subtitle {
    font-size: 1.2em;
    margin-top: 10px;
}

header img {
    border-radius: 50%;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #3498db;
}

p {
    line-height: 1.6;
}

.contact-info {
    font-size: 1.1em;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background-color: #3498db;
    color: #fff;
    display: inline-block;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

.job-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #3498db;
}

.company {
    color: #777;
}

.duration {
    font-style: italic;
    color: #777;
}
